.big-image{
   width: 500px;
   height: 300px;
   margin: 0 auto;
   margin-bottom: 50px;
}

.small-images{
   margin: 0 auto;
   width: 500px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 10px;
}

.small-image{
   height: 100px;
}

img{
   height: 100%;
   width: 100%;
   background-size: cover;
}