body {
    margin: 0px;
}

header {
    width: 100%;
    height: 650px;
    background-image: url(/elave/rs-cover.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.about-me {
    width: 940px;
    height: 740px;
    background-color:whitesmoke ;
    position: relative;
    
}