
body {
    margin: 0px;
    font-style: 14px;
}

/* header*/
header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
.adress {
    background-color: white;
    height: 30px;
}

.wrapper   {
    width: 100%;  
    background-color: #144147; 
}   

.cap-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    position: relative;
    left: 5% ;
    letter-spacing: 2px;
  
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: azure;
}

.telefon {

    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    align-items: center;
    color: azure;
    
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: azure;
    
}

.telefon img {
    height: 50px;
    width: 50px;
}

.nav-menu {
    background-color:rgb(216, 36, 36);

}

.nav-menu ul {
    height: 50px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu ul li {
    padding: 10px;
    border-radius:10%;
    margin-right: 10px;
    transition: all 0.2s;
}

.nav-menu ul li:hover {

    background-color: rgb(68, 67, 67);
    border-radius: 50%;
    scale: 6px;

}

.nav-menu ul li a {
    font-family: 'Fira Sans Extra Condensed', Arial, sans-serif !important;
    font-size: 1 em;
    font-weight:bold;
    text-decoration: none;
    color: white ;
}

/* end header*/

/*start image*/

.main-image {
    height: 600px;
    background-image:url(/ProjectFrontEnd/layihe-image/esas-sekil.jpg) ;
    background-size: cover;
    }

/*end image*/

/*start ustunkuler*/

.ustunlukler {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    gap: 3px;
    height: 180px ;
    margin: -80px auto;
    
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white ;
    border: 1px solid black;
    border-radius: 10px;
}

.cards img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    
}
.cards hr {
    color: gold;
    margin-top: 20px;
    width: 120px;
}
.cards h5 {
    font-size: 1.2em;
}

/* end ustunlukler*/

/* start section*/

section {
    width: 100%;
    
}
 
.cap h1 {
     height: 70px;
     font-size: 2em;
     margin-left: 50px;
     margin-top: 170px;
     color: rgb(5, 57, 92);
     font-weight: bold;
     font-style: italic;
     text-decoration-line: underline;
}

.kurslar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (3, 1fr);
    gap: 20px;
    height: 900px;
    margin: 50px 200px 100px 200px;
}

.kurslar-cards {

    border: black 1px solid;
    
}
.kurslar-cards img {
    width: 100%;
}

.button {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

    button {
    color: black;
    width: 240px;
    height: 45px;
    border: 2px solid black ;
    font-weight: bold;
    margin: 0 0 100px 0;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(4, 107, 4);
    border:none;
    color: white;
    font-weight: 700;
    
    
}
button:active {
    background-color: red;
}



/* end section*/

/* start footer*/

.social-container
{
    height: 150px ;
    background-color: #00262b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-container ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.social-container ul li a img {

    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.social-text h2 {
 margin: 0 auto;
 font-size: 1.75em;
}

.social-text p {
    margin: 0 auto;
    font-size: 1.2em;
}

 
.footer-main {
    height: 250px;
}



/* end footer*/



