
body {
    margin: 0px;
    font-style: 14px;
}

/* header*/
header {
    width: 100%;
}

.cap-header {
    background-color: white;
}

.logo img {
    
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-left: 50px;
}

.cap-header h1 {
    margin-left: 100px;
    color: rgb(194, 29, 0);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: rgb(224, 185, 178);
}

.nav-menu {
    background-color:rgb(21, 21, 54);
}

.nav-menu ul {
    height: 70px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu ul li {
    padding: 10px;
    background: rgba(255, 0, 0, 0.842);
    border-radius:10%;
    margin-right: 10px;
}

.nav-menu ul li a {
    font-family: 'Fira Sans Extra Condensed', Arial, sans-serif !important;
    font-size: 1 em;
    font-weight:bold;
    text-decoration: none;
    color: white ;
}


/* end header*/

/*start image*/

.main-image {
    height: 600px;
   background-color: lightslategray;

}


/*end image*/

/*start ustunkuler*/

.ustunlukler {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    gap: 3px;
    height: 180px ;
    margin: -80px auto;
    
}

.cards {
background-color: white ;
border: 1px solid black;
border-radius: 10px;
}


/* end ustunlukler*/

/* start section*/

section {
    width: 100%;
}
 
.cap h1 {
     height: 100px;
     font-size: 2em;
     margin-left: 50px;
     margin-top: 100px;
     color: rgb(14, 75, 116);
     font-weight: bold;
     font-style: italic;
}

.kurslar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (3, 1fr);
    gap: 20px;
    height: 900px;
    margin: 50px 200px;
}

.kurslar-cards {

    border: black 1px solid;

}
.kurslar-cards img {
    width: 100%;
}


/* end section*/

/* start footer*/

.social-container
{
    height: 100px ;
    background-color: rgb(21, 21, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-container p {
    margin-left: 100px;
    font-size: 1.75em;
}



/* end footer*/



