
body {
    margin: 0px;
    font-style: 14px;
}

/* header*/
header {
    width: 100%;
}

.cap-header {
    height: 80px;
    background-color: white;
}


.logo img {
    
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-top: 20px;
}

.nav-menu {
    height: 50px;
    background-color: ;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu ul li {
    padding: 10px;
    background: rgb(202, 23, 23);
    border-radius:100%;
    margin: 10px;
}

.nav-menu ul li a {
    font-family: 'Fira Sans Extra Condensed', Arial, sans-serif !important;
    font-size: 1 em;
    font-weight:bold;
    text-decoration: none;
    color: white;
}


/* end header*/

/*image*/

.main-image {
    height: 600px;
    background: url(/ProjectFrontEnd/layihe-image/our-students.jpg)

}


/*end image*/

.ustunlukler {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    gap: 3px;
    height: 180px ;
    margin: -80px auto;
    
}

.cards {
background-color: rgb(202, 181, 85);
border-radius: 10px;
}



/* end ustunlukler*/

/* start section*/

section {
    width: 100%;
}
 
.cap h1 {
     height: 100px;
     font-size: 2em;
     margin-left: 50px;
     margin-top: 100px;
     color: rgb(14, 75, 116);
     font-weight: bold;
     font-style: italic;
}

.kurslar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (3, 1fr);
    gap: 20px;
    height: 900px;
    margin: 50px 200px;
}

.kurslar-cards {

    border: black 1px solid;

}




/* end section*/

/* start footer*/

.social-container
{
    height: 150px ;
    background-color: rgb(1, 1, 41);
}





/* end footer*/



