<<<<<<< HEAD
.nav {
     height: 100px;
     background-color: darkslategrey;
     color: white;
}

header {
    height: 400px;
    background-color:darkslategrey;
}
section {
    height: 400px;
    background-color: floralwhite;
    color: black;
}

.citation {

    height: 300px;
    background-color: cornsilk;
    color: black;
    justify-content: center;
    padding: 150px;
}

.our-blog {
    height: 500px;
    background-color: gainsboro;
    color: black;
}

footer{
    height: 100px;
    background-color:darkslategrey;
=======
.nav {
     height: 100px;
     background-color: darkslategrey;
     color: white;
}

header {
    height: 400px;
    background-color:darkslategrey;
}
section {
    height: 400px;
    background-color: floralwhite;
    color: black;
}

.citation {

    height: 300px;
    background-color: cornsilk;
    color: black;
    justify-content: center;
    padding: 150px;
}

.our-blog {
    height: 500px;
    background-color: gainsboro;
    color: black;
}

footer{
    height: 100px;
    background-color:darkslategrey;
>>>>>>> ee31abc5238a2dcecc19a6ba0b6bdfc3d43e58d5
}