body {
   height: 100%;
   display: flex;
   flex-direction: column;

}

.wrapper {
   min-height: 100%;
}
.header {
   
}
.header__container {
}
.header__row {
   display: flex;
   justify-content: space-between;
   padding: 35px;
}
.header-name {
}
.header-name-text {
}
.header-menu {
}
.header-menu-list {
   display: flex;
   justify-content: space-between;
}
.header-menu-list li {
   margin-right: 15px;
}
.main {
   flex: 1 1 auto;
  
}
.about-me-bk {
   position: relative;
   height: 600px;
   background-image: url(/xxx/image/55715-volny_chasticy_abstrakciya_figury.jpg);
   opacity: 0.7;
   background-size: cover;
   
}
.about-me-block {
   position: absolute;
   z-index: 2;
   width: 55%; 
   height: 550px;
   box-sizing: border-box;
   border: solid 1px black;
   margin: -460px 0px 0px 0px;
}

.about-me-image {
}
.about-me-information {
}
.about-me-social {
}
.about-me-text {
   height: 500px;
   background:#DCDCDC;
   color:#261594;
   margin: o auto;
   text-align: center;
}

.about-me-text h1{
   font-size: 40px;
   font-style: italic;
   font-weight: bold;
   letter-spacing: 1px;
}

.about-me-text p{
   font-size: 20px;
}

.experience {
}
.education {
}
.skills {
}
.footer {
}
.footer-text {
}
.footer-email {
}
.footer-social {
}