body {
   display: flex;
   flex-direction: column;

}

.wrapper {
   min-height: 100%;
}
   
.header__row {
   display: flex;
   justify-content: space-between;
   padding: 35px;
   z-index: 3;
   color: rgb(23, 23, 83);
}

.header-menu-list {
   display: flex;
   justify-content: space-between;
}
.header-menu-list li {
   margin-right: 15px;
}

/*end header*/

main {
   flex: 1 1 auto;
}

.row {
   border: 3px solid red;
   height: 1000px;
}

