body {
    margin: 0px;
    width: 100%;
   
    
}


#navbar {
    background-color: slategray;
    height: 640px;
}

.top-navbar {
    height: 100px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.navbar-logo {
    border: 5px solid red;
    align-items: flex-start;
}



.navbar-menu {
    align-items: flex-end;

}

.navbar-menu ul {
    list-style-type:none;
    display: flex;
    align-items: center;
}

.navbar-menu ul li{
    margin-right: 10px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Open-Sans", sans-serif;
    color:rgba(255, 255, 255, 0.7);
    padding:10px;
    
}

.navbar-menu ul li button {
   width: 55px;
   height: 55px;
   border: 5px solid red;
   background-color: slategrey ;
   

}

.navbar-menu ul li a:hover {
    text-decoration: underline;
    color: #07cb79;
    transition: all .3s linear;

}

/* END NAVBAR */

#box {
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    background-color: thistle;
    padding: 50px 50px;
    margin: -300px ;

}


