
body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: black;
}
.wrapper{
   background-color: rgb(241, 241, 241);
}
.container {
   max-width: 950px;
   margin: 0 auto;
}
.header-style {
   text-align: center;
   margin-bottom: 50px; 
   font-size: 2rem;
   font-weight: 700;
   color: rgba(0, 0, 0, 0.664);
}
.bg-white{
   position: fixed;
   z-index: 4;
   left: 0;
   right: 0;
   width: 100%;
   min-height: 80px;
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 15px;
   background-color:whitesmoke;
}

/**HEADER...........................................*/


.header-nav {
   position: relative;
}
.header-nav-box {
   position: fixed;
   z-index: 4;
   left: 0;
   right: 0;
   width: 100%;
   min-height: 80px;
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 15px;
   background-color: transparent;
}
.ul-nav{
   display: flex;
   justify-content: space-between;
}
.ul-nav-a{
   text-transform: uppercase;
   margin-right: 20px;
   font-size: 0.9rem;
   font-weight: 700;
   color: rgba(255, 255, 255, 0.719);
}
.ul-nav-a:hover{
   border-bottom: rgb(79, 207, 79) 2px solid;
}
.header-bg{
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   height: 500px;
   background-image: url(/MainProject/picture/rs-cover.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.header-bg::before {
   content: '';
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: rgba(44, 51, 64, 0.8);
}


/*PROFILE..................................................*/


.profile-information{
   position: relative;
   margin-top: 165px;
   background-color: white;
   z-index: 2;
   padding: 40px; 
}
.profile-img{
   height: 380px;
   background-image: url(/MainProject/picture/rs-photo-v1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center ;
   margin-right: 50px;
}
.profile-title{
   font-size: 2rem;
   color: rgba(0, 0, 0, 0.726);
   padding-bottom: 25px;
   margin-top: 15%;
   margin-bottom: 15%;
   border-bottom: 1px solid #dedede;
}
.profile-title p{
   margin-top: 10px;
   font-size: 1.4rem;
}
.profile-text{
   display: flex;
   font-size: 1.1rem;
   line-height: 2rem;
}
.column-1{
   margin-right: 80px;
   font-weight: 600;
}
.profile-social {
   max-height: 80px;
   background-color: #07cb79;
   padding: 5% 30%;
}
.ul-social{
   display: flex;
   justify-content:space-between;
}
.ul-social i{
   color: white;
   font-size: 1.7rem;
}
.btn-resume { 
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 80px auto;
   width: 200px;
   height: 50px;
   border: 1px solid #cbcdcf;
   background-color: transparent;
   color: #3d4451c7;
   font-size: 1.2rem;
   font-weight: 600;
}
.btn-resume:hover{
   transform:scale(1.1);
   box-shadow: 0 0px 5px rgba(0, 0, 0, 0.384);  
   transition: all 0.3s ease-out;
}
/*ABOUT..................................................*/


.about {
   margin-bottom: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   line-height:2.3rem;
   color: #3d4451be;
}


/*EDUCATION...............................................*/


.education {
   margin-bottom: 150px;
}


/*SKILLS...................................................*/


.skills {   
   margin-bottom: 150px;
}
.skills-list {
   display: grid;
   grid-template-rows:repeat(3, 1fr);
   grid-template-columns: repeat(2, 1fr);
   background-color: white;
   box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
   font-size: 1.1rem;
   color: rgb(104, 104, 104);
}
.skills-name {
   padding: 15px 30px;
}
.skills-name p {
   margin-bottom: 13px;
}
.skills-name hr {
   height: 5px;
   width: 100%;
   background-color: #07cb79;
}


/*EXPERIENCE...............................................*/
.experience {
   margin-bottom: 150px;
}  


/*FOOTER.....................................................................*/
.footer-box{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 40px;
} 
.footer-contact{
   padding: 30px 25px;
   line-height: 5rem;
   background-color: white;
}
.footer-contact ul li{
   border-bottom: gainsboro 1px solid;
}
.btn-footer{
   width: 130px;
   height: 40px;
   background-color: #07cb79;
   border-radius: 5%;
   color: white;
   font-weight: 700;  
}
.btn-footer:hover{
   transform:scale(0.9);
   transition: all 0.3s ease-out;
}
.footer-address{
   background-color: white;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   line-height: 2rem;
}
.address-title{
   padding: 30px 25px;
   display: flex;
   font-size: 1.2rem;
   color: #3d4451d3;

}
.ad-title-1{
   margin-right: 40px;
}
.address-map{
   width: 100%;
   height: 100%;
}


/*TIMELINE......................................................*/
.timeline{    
   position: relative;
   width: 80%;
   margin: 0 auto;
 }
 .timebox {
   padding: 30px 20px;
   width: 45%;
   position: relative;
   background-color:white;
   border-top: 5px solid #07cb79;
   border-radius: 2px;
   box-shadow: 0 1px 6px rgb(0 0 0 / 12%);
   margin-bottom: 30px;
 }
 .left {
    position:relative;
    top: 0%;
    left: 0;
 }
 .right {
    position:relative;
    top:0%;
    right: -55%;
 }
 .line{
      content: '';
      position: absolute;
      width: 3px;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(50%);
      background-color:#07cb798e;
    
 }

 /*romb*/

 .timebox::after{
    content: "";
    position: absolute;
    top: 30%;
    width: 14px;
    height: 14px;
    background-color:white;
    transform: rotate(45deg);
    z-index: 3;
 }

.left::after{
    position: absolute;
    right:-7px;
}
.right::after{
   position: absolute;
   left:-7px;
}
.timebox::before{
   content: "";
   position: absolute;
   top: 30%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color:#07cb79;
}
.left::before{
   position: absolute;
   right: -13.5%;
}
.right::before{
   position: absolute;
   left: -11.6%;
}


