
/* ORTA CLASSLAR*/
.container {
   max-width: 950px;
   margin: 0 auto;
}

.header-style {
   text-align: center;
   margin-bottom: 50px; 
}
/*..................................................*/

.wrapper {
   min-height: 100vh;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   background-color:#efefef;
   color: #3d4451;
}


/* HEADER START.................................................................*/
.header-nav {
  position: relative;
  display: flex;
  justify-content: end;
  z-index: 3;
}
.nav-list {
   display: flex;
   justify-content: space-between;
}
.nav-list li {
   margin: 20px 20px;
   font: 0.9rem 800;
}
.nav-list li a{
   color: rgba(255, 255, 255, 0.7);
   text-transform: uppercase;
}
.header-nav ul li a:hover{
   transition: 0.8ms linear;
   border-bottom: 3px solid #07cb79;
}

.header-bg {
   background-image: url(/MainProject/picture/rs-cover.jpg);
   background:center cover no-repeat;
   position: absolute;
   width: 100%;
   height: 500px;
   left: 0%;
   top: 0%;
}
.header-bg::before {
 content: '';
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 position: absolute;
 background-color: rgba(44, 51, 64, 0.8);
}


/*SECTION CONTENT START........................................................*/


.profile {
   margin-top: 100px;
   background-color: white;
   position: relative;
   z-index: 10;
   padding: 40px; 
}
.profile-image {
   height: 380px;
   background-image: url(/MainProject/picture/rs-photo-v1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-right: 50px;
}
.profile-title-text {
   line-height:1.3rm;
   font-size: 1.3rm;
}
.profile-title-content ul li  {
   display: flex;
   flex-direction: column; 
   margin-bottom: 20px;
   line-height: 1.5;
}
.profile hr {
   border-top: 1px solid gray;
   width: 100%;
   margin: 30px auto;
}
.profile-social-list {
   height: 80px;
   background-color: #07cb79;
}
.button .btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   margin: 80px auto;
   width: 240px;
   height: 50px;
   border: 1px solid #cbcdcf;
   box-shadow: 0 0px 5px rgb(0 0 0 / 50%);

}
.btn-lg {   
   font-weight: 700;
   color: #3d4451;

}


/* ABOUT-ME......................................................................*/
.about-me {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   line-height: 1.8rem;
   font-size: 1.1rem;
}
.about-me p{
   margin-bottom: 150px;
}


/* EDUCATION START.......................................................*/

.education {
   margin-bottom: 150px;
}
.timeline {
   height: 90px;
   position: relative;
   margin-bottom: 100px;
   line-height: 2;
}
.timebox {
   position: relative;
   width: 45%;
   background-color: white;
   padding: 30px;
   border-top:5px solid #07cb79;
   box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
   display: flex;
   flex-direction: column;
   align-items: center;

}
.left {
   position: absolute;
   top: 0%;
   left: 0%;
   transition: all 3s ease;
}

.right {
   position: absolute;
   top: 0%;
   right: 0%;
}
.line {
   position: absolute;
   top: 0%;
   left: 50%;
   height:100%;
   width: 4px;
   width: 4px;
   background-color: #07cb79;
   opacity: 0.2;
   transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}
.left::after{
   content: '';
   position: absolute;
   top: 37px;
   left: 473px; 
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color:#07cb79;
}
.date {
   color: #07cb79;
   font-weight: 600;
   font-size: 0.9rem;
}
.timebox p {
   opacity: 0.9;
   font-size: 0.9rem;
}


/*  SKILLS START.................................................................*/


.skills {
   margin-bottom: 150px;
}
.skills-list {
   display: grid;
   grid-template-rows:repeat(3, 1fr);
   grid-template-columns: repeat(2, 1fr);
   background-color: white;
   box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}
.skills-name {
   padding: 15px 30px;
}
.skills-name p {
   margin-bottom: 13px;
}
.skills-name hr {
   height: 5px;
   width: 100%;
   background-color: #07cb79;
}


/* EXPERIENCE START .............................................................*/


.experience {
   margin-bottom: 150px;
}  
   
   
/*FOOTER START...............................................................*/


.contact-me     {
   background-color: white;
   width: 40%;
   padding: 40px 50px;
}
.contact-list li{
   margin: 40px;
}
.contact-list li hr{
   width: 100%;
   border-top:1px solid black;
}
























/* EXPERIENCE END......................................................*/






