.container {
   width: 100%;
   max-width: 940px;
   padding: 0px 10px;
   margin: 0 auto;
}

.title {
   color: #3d4451;
   font: 600 34px/1.2 Open sans;
   text-align: center;
   margin: 0 0 25px 0;
   vertical-align: baseline;
   text-transform: capitalize;
}




.section {
   padding-top: 70px;
}

.box-shadow {
   box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

.green-span {
   position: relative;
   max-width: fit-content;
   background-color: #07cb79;
   color: white;
   font-weight: 700;
   padding: 2px 10px;
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.1;
   display: inline-block;
   padding: 7px 12px;
   text-transform: uppercase;
   position: relative;
}

.green-span::before {
   content: '';
   position: absolute;
   bottom: -8px;
   left: 5px;
   border: 10px solid transparent;
   border-left: 10px solid #07cb79;

}

.date{
   color: #07cb79;
   font-size: 16px;
   font-weight: 700;
   line-height: 1;
   text-align: center;
   margin-bottom: 15px;
}




































/* time */
.timeline {
   position: relative;
   margin: 0 auto;
}

.timebox {
   padding: 2%;
   width: 45%;
   position: relative;
   background-color: white;
   border-top: 5px solid #07cb79;
   margin-bottom: 30px;
   text-align:center ;
   line-height: 1.5;
}

.left {

   position: relative;
   top: 0;
   left: 0;
}

.right {
   position: relative;
   top: 0%;
   right: -55%;
}

.line {
   content: '';
   position: absolute;
   width: 3px;
   height:100%;
   left: 50%;
   transform: translateX(-50%);
   background-color: #07cb798e;

}

/*romb*/
.timebox::after {
   content: "";
   position: absolute;
   top: 30%;
   margin-right: 2px;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 10px solid #fff;
}

.left::after {
   position: absolute;
   right: -12px;
}

.right::after {
   position: absolute;
   left: -10px;
   transform: rotate(180deg);
}

/*daireler*/
.timebox::before {
   content: "";
   position: absolute;
   top: 30%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #07cb79;
}

.left::before {
   position: absolute;
   right: -11.11%;
   transform: translateX(50%);
}

.right::before {
   position: absolute;
   left: -11.11%;
   transform: translateX(-50%);
}