body{
   min-height:100vh ;
   margin: 0 auto;
   font-family: 'Roboto Slab', serif;
   background-color: #efefef
}

/* header styles */
#header{
   position: relative;
   background-image: url(C:\Users\User\Desktop\alime\FrontEndProject\picture\cover.jpg);
}

.header-nav{
   position: fixed;
   z-index: 2;
   padding: 30px;
}

.header-nav ul li a{
   font-weight: 800;
   color: rgba(255, 255, 255, 0.7);
   margin-right: 30px;
}
.header-bg{
   position: absolute;
   width: 100%;
   height: 500px;
   background:url(/FrontEndProject/picture/cover.jpg) center/cover no-repeat ;}

.header-bg::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(44, 51, 64, 0.8);
}  