.container {
   max-width: 950px;
   margin: 0 auto;
}

.flex{
   display: flex;
}
.jc-end{
  justify-content: end; 
}

.jc-sb{
   justify-content: space-between;
}

.left-right-0{
   left: 0;
   right: 0;
}
.uppercase{
   text-transform: uppercase;
}